.threeBars {
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
  transform:scale(1);
  transition: all 0.25s ease;
  z-index: 50;
}

.threeBars:hover {
  transform:scale(1.3);
  cursor:pointer;
}

@media (max-width: 500px) {
  .threeBars {
    transform:scale(0.8);
    transition: all 0.25s ease;
  }
}