.video {
  position: relative;
  border: 3px solid grey;
  background: darkgrey;
  z-index: 60;
  height: 60%;
  width: 1280px;
  min-height: 320px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.qualityText {
  position: absolute;
  top: -50px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  left: 50px;
  z-index: 60;
}

@media(max-width: 850px) {
  .video {
    width: 100%;
  }
}
